<form id="questionForm">
    <input type="text" name="question" placeholder="question" class="input-xxlarge"></input>
    <br />
    <button id="addButton" class="btn"><i class="icon-plus"></i>add choice</button> ( check the correct answer )<br /><br />
    <button id="removeButton" class="btn"><i class="icon-minus-sign"></i>remove choice</button><br /><br />
    <div id="choiceContainer">
        <div class="singleChoiceContainer">
            <label class="control-label">choice 1: </label>
            <input type="text" name="choices" class="input-xxlarge choice"></input>
            <input type="radio" name="correctAnswer" class="radio" value="0" ></input>
        </div>
    </div>
    <br />
    <input type="submit" value="submit" class="btn"></input>
</form>
<div id="errMessage"></div>